@CHARSET "ISO-8859-1";

/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font-family: sans-serif;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: Verdana;
	font-size: 16px;
	color: #333;
}

/* TOPO */
.ct-top {
    float: left;
    width: 100%;
    height: 170px;
    background-color: #5F9EA0;
    background: transparent url("../img/menu.jpg") center top;
}

.ct-top h1 {
	font-size: 18px;
	color: #FFF;
}

.cabecalho {
    margin: auto;
	width: 85%;
	height: 100%;
}

.container--topmenu {
    background-color: rgb(255, 255, 255);
    height: 115px;
    margin-top: 10px;
}

/* #horario{
	margin-left:200px
} */

.calendario-data{
	float: left;
	width: 160px;
	margin-top: 45px;
	margin-left: 150px;
	
	
}

.relogio-hora{
	float: left;
	width: 160px;
	margin-top: 45px;
	
}

.ui-clock{
	background-color:#fff;
	border:none;
} 

/* MENU */
.ct-menu {
    width: 85%;
    height: 25px;
    z-index: 80;
    position: absolute;
    top: 133px;
    color: #FFF;
    left: 100px;
}

.ct-menu ul {
	float: left;
	margin-left: 20px;
	margin-top: 6px;
}

.ct-menu ul li {
	float: left;
	padding-right: 20px;
	margin-right: 20px;
	border-right: 3px solid #FFF;
}

.ct-menu ul li a {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    font-size: 12px;
}
.ct-menu ul li a:hover{
	color:#fff;	
	text-decoration: underline;	
}

.ct-menu ul li.item-last {
	border: none;
}

.img-logo {
    width: 208px;
    height: 47px;
    background-image: url("../img/logo.jpg");
    float: left;
    margin-top: 30px;
}



.ui-breadcrumb{
	position: absolute;
	top: 171px;
	background: #fff;
	border: none;
	padding: 5px 0px 7px;
}

.ui-breadcrumb a{
	color: #333;
}
.ui-breadcrumb a:hover{
	font-weight: 600;
	text-decoration: underline;
}

/* PRIME */
.ui-panel-title {
	font-size: 14px;
}

.ui-panel-titlebar {
	color: #FFF;
	background-image: linear-gradient(to right,#85B65A, #00AFCC ,#005189);
}

.ui-growl {
	top: 100px;
}

.ui-growl-item-container.ui-state-highlight {
	background-color: #5F9EA0;
	background-image: linear-gradient(to bottom, #5F9EA0, #5F9EA0);
}

/* CONTENT */
.ct-content {
	padding: 50px 0px 0px 0px;
	float: left;
}

.ct-content *{
	font-size:12px;
}

.ct-content h2 {
	font-size: 20px;
	margin-bottom: 20px;
}

.container{
	margin: auto;
    width: 85%;	
}

/* FORM */
#painel-3-Colunas {
	width:450px;
}

.label {
	padding-top: 5px;
	float: left;
	width: 100px;
}

input[type=text] {
	width: 250px;
}

/* UTILS */
.txtCenter {
	text-align: center;
}

/* LISTAS */
.largura-cpf {
	width: 50px;
}

.largura-fone {
	width: 130px;
}

.largura-cep {
	width: 100px;
}

.largura-acoes {
	width: 230px;
}

/* RODAPE
.ct-bottom{
    bottom: 0;
    position: fixed;
    color: #fff;
    background-color: #201B55;
    width: 100%;
    height: 20px;
    padding: 10px;
    display: none;
}

.rodape{
    margin: auto;
    width: 80%;
}

.rodape-descricao p,
.rodape-descricao h2{
	display:inline;
}

.rodape-descricao p{
	font-size:12px;
}

.rodape-descricao h2{
    margin-left: 100px;
}

.rodape .ui-button-icon-only{
	display: inline;
    float: right;
    bottom: 20px;
}
 */
.btn-acao{
	width: 70px;
}

.btn-default{
	width: 50px;
}

.panel-formulario{
	width: 50%;
}

.ui-button-text-only .ui-button-text {
    padding: 3px;
}

.ui-datatable-header.ui-widget-header.ui-corner-top{
	text-align:right;
}

.ui-widget .ui-widget {
    margin-top: 2px;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label {
    width: 100px;
    height: 15px;
}