@CHARSET "ISO-8859-1";

/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font-family: sans-serif;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: Verdana;
	font-size: 16px;
	color: #333;
}

/* TOPO */
.ct-top {
	float: left;
	width: 100%;
	height: 170px;
	background-color: #5F9EA0;
	background: transparent url("../img/menu.jpg") center top;
}

.ct-top h1 {
	font-size: 18px;
	color: #FFF;
}

.btn-menu .ui-state-default {
	background-image: linear-gradient(to right, rgb(115, 177, 100),
		rgb(87, 170, 118));
	color: rgb(255, 255, 255);
	border: medium none;
	box-shadow: none;
	border-radius: 0;
	text-shadow: none;
}

.btn-menu .ui-state-default:hover {
	
}

.cabecalho {
	margin: auto;
	width: 85%;
	height: 100%;
}

.container--topmenu {
	background-color: rgb(255, 255, 255);
	height: 115px;
	margin-top: 10px;
}


.calendario-data {
	float: left;
	width: 160px;
	margin-top: 45px;
	margin-left: 40px;
}

.calendario-data span, .relogio-hora span {
	color: rgb(51, 51, 51);
	font-weight: 300;
}

.relogio-hora {
	float: left;
	width: 160px;
	margin-top: 45px;
}

.ui-clock {
	background-color: #fff;
	border: none;
}

/* MENU */
.ct-menu {
	width: 85%;
	height: 25px;
	z-index: 80;
	position: absolute;
	top: 125px;
	color: #FFF;
	left: 7.5%;
}

.ct-menu ul {
	float: left;
}

.ct-menu ul li a {
	text-decoration: none;
	font-weight: 600;
	font-size: 12px;
}

.ct-menu ul li a:hover {
	color: #bbb;
	text-decoration: underline;
}

.ct-menu ul li.item-last {
	border: none;
	margin-bottom: 5px;
}

/*----- Menu Outline -----*/
.menu a {
	transition: all linear 0.15s;
	color: #fff;
}

.ct-menu .sub-menu ul li a {
	color: #333;
}

.menu li:hover>a, .menu .current-item>a {
	text-decoration: none;
	color: #ddd;
}

.menu .arrow {
	font-size: 11px;
	line-height: 0%;
}

/*----- Top Level -----*/
.menu>ul>li {
	float: left;
	display: inline-block;
	position: relative;
	font-size: 19px;
}

.menu-categoria {
	padding: 17px 10px;
}

.menu>ul>li>a {
	display: inline-block;
}

.menu-categoria {
	padding: 17px 10px;
}

.menu>ul>li:hover>a, .menu>ul>.current-item>a {
	background-color: #FFF;
	color: #333;
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
	z-index: 1;
	opacity: 1;
	display: inline;
	width: 270%;
}

.sub-menu {
	padding: 5px 0px;
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: -1;
	opacity: 0;
	transition: opacity linear 0.15s;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
	background: #fff;
	display: none;
}

.sub-menu li {
	display: block;
	font-size: 16px;
}

.sub-menu li a {
	padding: 10px 20px;
	display: block;
	color: #333;
}

.sub-menu span {
	color: #bbb;
	padding: 5px;
}

.img-logo {
	float: left;
	margin-top: 30px;
	width: 35%;
}

.img-sistema{
	width: 10%;
	float: left;
	margin-left: 50px;
	margin-top: 4%;
}

.date-time-icon {
	height: 20px;
	width: 20px;
}

.ui-breadcrumb {
	background: #fff;
	border: none;
	padding: 5px 0px 7px;
}

.ui-breadcrumb a {
	color: #333;
}

.ui-breadcrumb a:hover {
	font-weight: 600;
	text-decoration: underline;
}

/* PRIME */
.ui-panel-title {
	font-size: 14px;
}

.ui-panel-titlebar {
	color: #FFF;
	background-image: linear-gradient(to right, #85B65A, #00AFCC, #005189);
}

.ui-growl {
	top: 100px;
}

.ui-growl-item-container.ui-state-highlight {
	background-color: #5F9EA0;
	background-image: linear-gradient(to bottom, #5F9EA0, #5F9EA0);
}

/* CONTENT */
.ct-content {
	padding: 5px 0px 0px 0px;
	width: 85%;
	margin-left: 8%;
	float:left;
	margin-bottom: 5%;
}

.ct-content .incluir-editar{
	width: 37%;
}

.ct-content .historico{
	margin: 0px -8%;
	width: 115%;		
}

.ct-content * {
	font-size: 12px;
}

.ct-content h2 {
	font-size: 20px;
}

.container {
	position:absolute;
	width: 100%;
	top: 170px;
	min-height: 78%;
}

/* FORM */
#painel-3-Colunas {
	width: 450px;
}

.label {
	padding-top: 5px;
	float: left;
	width: 100px;
}

input[type=text] {
	width: 250px;
}

/* UTILS */
.txtCenter {
	text-align: center;
}

/* LISTAS */
.largura-cpf {
	width: 50px;
}

.largura-fone {
	width: 130px;
}

.largura-cep {
	width: 100px;
}

.largura-acoes {
	width: 230px;
}

/* RODAPE  */
.ct-bottom{
    bottom: 0;
    position: absolute;
    color: #fff;
    background-color: #201B55;
    width: 100%;
    height: 20px;
    padding: 10px 0;
    display: block;
}

.rodape{
    margin: auto;
    width: 86%;
}

.rodape p,
.rodape h2{
	display:inline;
	margin-left: 30%;
}

.rodape p{
	font-size:12px;
}

.rodape h2{
    margin-left: 100px;
}

.rodape .btn-return{
	display: inline;
    float: right;
    bottom: 20px;
}

.btn-acao {
	width: 25px;
}

.btn-default {
	width: 50px;
}

.btn {
	width: 70px;
}

.panel-formulario {
	width: 30%;
}

.panel-formulario-historico{
	width: 35%;
}

.ui-button-text-only .ui-button-text {
	padding: 3px;
}

.ui-datatable-header.ui-widget-header.ui-corner-top {
	text-align: right;
}

.panel-formulario .ui-datatable thead th:last-child {
    width: 15%;
}

.dropdown-pesquisa{
	top: 5px;
}

.input-pesquisa{
	margin-right: 10px;
}

.controle-pesquisa{
	margin-top: 10px
}

.ui-widget .ui-widget {
	margin-top: 2px;
	overflow: hidden;
    text-overflow: ellipsis; 
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label {
	width: 100px;
	height: 15px;
}

.alt {
	font-size: 12px;
}

.painel {
	border: 3px solid #0f4d40;
	height: 140px;
	width: 300px;
}

.painel:hover {
	background-color: #0F4D40;
}

.painel:hover .text-painel{
	color: #fff;
}

#relatorio {
	left: 140px;
	float: right;
}

#profissionais {
	margin-top: 1%;
	margin-left: 5%;
	float: left;
}

.text-painel {
	font-size: 25px;
	position: relative;
	right: 50px;
	float: right;
	top: 50px;
    color: #333;
}


.img-painel {
	left: 30px;
	position: relative;
	top: 30px;
	width: 50px;
	height: auto;
	float: left;
}

.pesquisa {
	margin: 10px 0 0 0;
}

.conteudo {
    position: relative;
    min-height: 100%;
}

/*TESTE*/ 

 
/*----- Menu Outline -----*/
.menu a {
    transition:all linear 0.15s;
    color:#fff;
}

.ct-menu .sub-menu ul li a{
	color:#333;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#ddd;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}

.menu-categoria{
	padding: 17px 10px;
}

.menu > ul > li > a {
    
    display:inline-block;
}

.menu-categoria{
	padding: 17px 10px;
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background-color: #FFF ;
	color: #333;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
    display: inline;
    width: 270%;
}
 
.sub-menu {
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#fff;
    display:none;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 20px;
    display:block;
    color: #333;
}
 
.sub-menu span{
	color: #bbb;
	padding: 5px;
}

.dataStatus input[type="text"]{
	width: 100px;
}

.ui-datatable table{
	margin-top: 10px;
}
.ui-panel{
	margin-top: 10px;
}
